.redcomponent {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 20px;
  background: red;
  padding: 40px 20px;
  margin-bottom: 30px;
  position: relative;
}

.redbody h1 {
  color: aliceblue;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.redbody p {
  color: aliceblue;
  font-size: 18px;
}
.redcomponent a {
  text-decoration: none;
  border: 2px solid aliceblue;
  color: antiquewhite;
  background: transparent;
  position: absolute;
  padding: 10px 20px;
  left: 85%;
  top: 50%;
  transition: 1.1s;
}
.redcomponent a:hover {
  text-decoration: none;
  color: antiquewhite;
  background: rgb(1, 32, 44);
  position: absolute;
  padding: 10px 20px;
  left: 85%;
  box-shadow: 2px 3px 5px rgb(32, 32, 32), 3px 4px 6px rgb(44, 147, 179);
  top: 50%;
  cursor: pointer;
}
